<%= form_for(@profile, html: { class: 'form-horizontal' }) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-area">
    <%= f.label :zipcode %>
      <%= f.text_field :zipcode %>
  </div>

  <div class="form-area">
    <%= f.label :gender %>
      <%= f.select :gender, Profile::GENDERS, {} %>
  </div>

  <div class="form-area">
    <%= f.label :body_type %>
      <%= f.select :body_type, Profile::BODY_TYPES, {}, :class => 'form-control' %>
  </div>

  <div class="form-area">
    <%= f.label :activity_level %>
      <%= f.select :activity_level, Profile::ACTIVITY_LEVELS, {}, class: 'form-control' %>
  </div>

  <div class="form-area">
    <%= f.label :blood_type %>
      <%= f.select :blood_type, Profile::BLOOD_TYPES, {} %>
  </div>

  <div class="form-area">
    <%= f.label :height %>
      <%= f.text_field :height %>
  </div>

  <div class="form-area">
    <%= f.label :weight %>
      <%= f.text_field :weight %>
  </div>

  <div class="form-area">
    <%= f.label :waist %>
      <%= f.text_field :waist %>
  </div>

  <div class="form-area thrice">
    <%= f.label :birthday %>
      <%= f.date_select(:birthday, start_year: 1940, end_year: 2014) %>
  </div>

  <div class="form-area">
    <%= f.label :veggies_per_day %>
      <%= f.select :veggies_per_day, Profile::VEGGIE_OPTIONS, {} %>
  </div>

  <div class="actions form-area">
    <%= f.submit %>
  </div>
<% end %>
