<div class="container-fluid no-pad landing"></div>
<div class="container-fluid no-pad landing_two"></div>
<div class="container information">
  <div class="signed_in">
    <%= link_to("", root_path, :class => 'logo') %>
    <ul class="register">
      <%= render 'devise/menu/registration_items' %>
    </ul>
    <div class="more">
      <a data-toggle="modal" data-target="#myModal">
        Learn more about MYPROTOCOL
      </a>
    </div>
    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade out" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="edit_register">
    <%= render 'devise/menu/registration_items' %>
  </ul>
  <% if (user_signed_in? and !current_user.profile.nil? and !current_user.profile.new_record?) %>
    <div class="row">
      <div class="col-md-12 personal">
          <h2><span style="color: rgba(255,255,255,.75);">Your </span> Protocol Plan</h2>
          <div class="panel-body">
            <div class="col-md-6">
              <div class="left"><div class="title">Estimated BMI:</div> <%= current_user.profile.bmi.round 2 %></div>
              <div class="left"><div class="title">Estimated LBM:</div> <%= current_user.profile.lbm.round 2 %></div>
            </div>

            <div class="col-md-6">
              <h3>our Recommendations</h3>
              <ul class="recomendations">
                <li><strong>Protein:</strong> <%= current_user.profile.protein %></li>
                <li><strong>BCAA:</strong> <%= current_user.profile.bcaa %></li>
                <li><strong>Creatine:</strong> <%= current_user.profile.creatine %></li>
                <li><strong>Fish Oil:</strong> <%= current_user.profile.fish_oil %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="protocol">
            Visit <a href="http://protocolnutrition.com/">www.protocolnutrition.com</a> to see all of the products that we have available to help you to reach your personal goals.
          </div>
      </div>
    <% end %>
  </div>
  <div class="nearby">
    <div class="col-md-12 no-pad">
      <div class="col-md-3 title active" id="coach">Nearest Coaches</div>
      <div class="col-md-3 title" id="gym">Nearest Gyms</div>
    </div>
    <div class="col-md-12 dragon_master">
      <% @closest_coaches.zip(@closest_gyms).each do |coach, gym| %>
        <div class="col-md-12 coach active">
          <%= image_tag coach.image_url.to_s if coach.image_url.present? %>
          <p>
            Name: <%= coach.name %><br>
            Business: <%= coach.business %><br>
            Bio: <%= coach.bio %>
          </p>
        </div>
        <div class="col-md-12 gym">
          <%= image_tag gym.image_url.to_s if gym.image_url.present? %>
          <p>
            Name: <%= gym.name %><br>
            <%= gym.street %><br>
            <%= gym.city %>, <%= gym.state %>, <%= gym.zip %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
