<%= form_for(@coach, html: { class: 'form-horizontal' }) do |f| %>
  <% if @coach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coach.errors.count, "error") %> prohibited this coach from being saved:</h2>

      <ul>
      <% @coach.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-area">
    <%= f.label :image %>
      <%= f.file_field :image %>
  </div>


  <div class="form-area">
    <%= f.label :name %>
      <%= f.text_field :name %>
  </div>


  <div class="form-area">
    <%= f.label :business %>
      <%= f.text_field :business %>
  </div>


  <div class="form-area">
    <%= f.label :street %>
      <%= f.text_field :street %>
  </div>


  <div class="form-area">
    <%= f.label :city %>
      <%= f.text_field :city %>
  </div>


  <div class="form-area">
    <%= f.label :state %>
      <%= f.select :state, Coach::STATES, {} %>
  </div>


  <div class="form-area">
    <%= f.label :zip %>
      <%= f.text_field :zip %>
  </div>


  <div class="form-area">
    <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
  </div>


  <div class="form-area" style="height: 110px;">
    <%= f.label :certifications %>
      <%= f.text_area :certifications %>
  </div>


  <div class="form-area" style="height: 110px;">
    <%= f.label :bio %>
      <%= f.text_area :bio %>
  </div>


  <div class="form-area">
    <%= f.label :quote %>
      <%= f.text_field :quote %>
  </div>

  <div class="form-area">
    <%= f.label :quoter %>
      <%= f.text_field :quoter %>
  </div>


  <div class="form-area">
    <%= f.label :shirt_size %>
      <%= f.select :shirt_size, Coach::SIZES, {} %>
  </div>


  <div class="actions form-area">
    <%= f.submit %>
  </div>
<% end %>
