<%= form_for(@gym, html: { class: 'form-horizontal' }) do |f| %>
  <% if @gym.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@gym.errors.count, "error") %> prohibited this gym from being saved:</h2>

    <ul>
      <% @gym.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-area">
    <%= f.label :image %>
      <%= f.file_field :image %>
  </div>

  <div class="form-area">
    <%= f.label :name %>
      <%= f.text_field :name %>
  </div>
  <div class="form-area">
    <%= f.label :street %>
      <%= f.text_field :street %>
  </div>
  <div class="form-area">
    <%= f.label :city %>
      <%= f.text_field :city %>
  </div>
  <div class="form-area">
    <%= f.label :state %>
      <%= f.select :state, Coach::STATES, {} %>
  </div>
  <div class="form-area">
    <%= f.label :zip %>
      <%= f.text_field :zip %>
  </div>
  <div class="actions form-area">
    <%= f.submit %>
  </div>
<% end %>
