<div class="pumped">
<h2>
  <strong>Name:</strong>
  <%= @gym.name %>
</h2>

<h2>
  <strong>Street:</strong>
  <%= @gym.street %>
</h2>

<h2>
  <strong>City:</strong>
  <%= @gym.city %>
</h2>

<h2>
  <strong>State:</strong>
  <%= @gym.state %>
</h2>

<h2>
  <strong>Zip:</strong>
  <%= @gym.zip %>
</h2>
<div class="links">
  <%= link_to 'Edit', edit_gym_path(@gym) %>&nbsp;&nbsp;/&nbsp;&nbsp;
  <%= link_to 'Back', gyms_path %>
</div>  
</div>